.spinner{
  font-size: 140px;
  position: relative;
}

.spinner:after {
  content: '◌';
  display: inline-block;
  animation: rotateInfinite 2s linear infinite;
}

@keyframes rotateInfinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
