.spinner{
  font-size: 140px;
  position: relative;
}

.rotating:after {
  content: '◌';
  display: inline-block;
  animation: rotateInfinitely 2s linear infinite;
}

@keyframes rotateInfinitely {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
